.products-selection {
  text-align: center;
  background: black;
  color: white;
  margin-right: 15px;
  position: sticky;
  top: 0;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.products-selection > h5 {
  font-size: 0.8rem;
}
.btn-choose-one {
  display: block !important;
  margin: 10px auto;
}

/* For Tabs */
@media screen and (min-width: 768px) {
  .products-selection > h5 {
    font-size: 1rem;
  }
}

/* For Desktop */
@media screen and (min-width: 992px) {
  .products-selection > h5 {
    font-size: 1.25rem;
  }
}
