.product-card {
  margin-bottom: 1rem;
}
.add-to-cart-btn {
  background: #212529;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  background: rgb(205, 205, 205);
  color: black;
  font-weight: bold;
}
.product-img {
  height: 120px;
}
.product-title {
  font-size: 1rem;
}
.product-body {
  flex: 1 1 auto;
  padding: 0.5rem 0.5rem;
}
.cart-icon {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

/* For Tab */
@media screen and (min-width: 768px) {
  .product-card {
    margin-bottom: 0;
  }
  .product-img {
    height: 200px;
  }
}
